@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------ css reset ------ */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
@layer base {
  @keyframes scroll {
    0% {
      transform: translate(0);
    }

    to {
      transform: translate(-35%);
    }
  }

  .animate-scroll {
    animation: scroll 8s linear infinite;
    animation-fill-mode: forwards;
  }
  .montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-900-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
  }
  .montserrat-900 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
}
